html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MemoryBook | Not Found
        link(rel="stylesheet", href="/style.css")
        link(rel="shortcut icon", href="favicon.png", type="image/png")
    body
        div(class="zoio")
            img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.W89RCUEtC0fkJQejPVzrLQHaEK%26pid%3DApi&f=1&ipt=9f53ac8135e1eccbeebef9366a9539a9fb8ce8fc81fad849f736081c09737049&ipo=images", alt="Zoio")
            div(class="prank")
                h1 É pegadinha garaio 
            div(class="error404")
                h1 Error 404