html 
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MemoryBook | To post
        link(rel="stylesheet", href="/style.css")
        link(rel="shortcut icon", href="/favicon.png", type="image/png")
    body
        div(class="topostmethod") 
            form(action="/topost", method="POST") 
                input(type="text", name="description", placeholder="description", maxlength="256", required)
                input(type="url", name="content", placeholder="photo", required)
                input(type="text", name="username", placeholder="username", maxlength="16", required)
                input(type="date", name="date_post", required)
                input(type="checkbox", name="active", checked)
                input(type="submit", value="Post!") 